<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIKey" value="AIzaSyDQI4hxPC1l6NSuuslUgZD3TLhKNMt7ESE" />
    <add key="ConnectionString" value="datasource=127.0.0.1;port=3306;username=root;password=;database=efoodusers;Charset=utf8;" />
  </appSettings>
</configuration>