<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EFood" connectionString="datasource=127.0.0.1;port=3306;username=root;password=;database=efoodusers;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="APIKey" value="AIzaSyDQI4hxPC1l6NSuuslUgZD3TLhKNMt7ESE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>